/* For all */
.test2 {
    width: 50%;
    margin: 30px auto 0 auto;
    border: 1px solid black;
  }
  
  .test2 h1 {
    width: 98.8%;
    padding: 20px 0 30px 30px;
    border-bottom: 1px solid black;
    border-width: 90%;
    background-color: #f7f7f7;
  }
  
  .adj {
    width: 90%;
    margin: 0 auto;
  }
  
  .error {
    color: red;
  }
  
  .error2 {
    border: 1px solid red;
  }

  .right {
    float: right;
  }

  .left {
    float: left;
  }

  /* header */
  .header {
    padding: 20px 0;
    background-color: #f7f7f7;
  }

  p {
    display: inline-block;
  }

  /* for create_table.php */

  .register {
    display: block;
    width: 90%;
    margin: 0 auto;
    color: white;
    text-align: center;
  }

  .login-link {
    display: block;
    text-align: center;
    width: 90%;
    margin: 20px auto 0 auto;
    color: blue;
    text-decoration: none;
  }

  /* for login.php */

  .forget {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
  }

  .sign-up {
    display: block;
    text-align: center;
    width: 90%;
    margin: 20px auto 0 auto;
    color: black;
    text-decoration: none;
  }

  .sign-up > a {
    text-decoration: none;
  }

  /* for forget_password.png */
  .btn-box {
    background-color: #f7f7f7;
    padding: 20px 0;
  }

  .btn-box , a {
    font-size: 20px;
    text-decoration: none;
  } 

  /* reset password */
  .con {
    display: inline-block;
    margin-right: 0px;
  }

  /* for profile */
  .fg {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /* for index.php */
  .right > form {
    display: inline-block;
  }

  .user_email {
    position: relative;
    display: inline-block;
  }

  .detail {
    position: absolute;
    display: none;
  }

  .user_email:hover .detail {
    display: block !important;
  }

  .user_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
  }

  .img_upload {
    width: 50%;
    float: left;
    margin: 30px 20px;
  }
  
  
  