.mid-container {
  margin: 0px auto;
  display: flex;
  align-items: center;
  align-content: center;
}

h1 {
  margin: 200px auto 30px auto;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.error-message {
  margin: 20px 0px;
  text-align: center;
}

.diamond {
  display: inline-block;
  margin: 0px auto;
}