/* * */
.error {
    color: red;
}

.csv-file {
    float: right;
    width: 300px;
}

.csv-export {
    float: left;
    margin-left: 130px;
}

.csv-import {
    float: right;
}

#import-form {
    display: none;
}

/* for layout file */

.header {
    padding: 20px 0;
    background-color: rgb(187, 186, 186);
}

.header > .header-nav{
    width: 80%;
    margin: 0 auto;
}

.header-nav > h2 {
    float: left;
    font-weight: normal;
}

.header-nav > a {
    float: right;
    font-size: 23px;
    font-weight: 400;
    margin-right: 20px;
    color: black;
    text-decoration: none;
}

/* index */

.btn-div {
    width: 80%;
    margin: 20px auto 0 auto;
}

.info {
    width: 80%;
    margin: 20px auto 0 auto;
    border: 1px solid gray;
}

.info > h1 {
    background-color: rgb(230, 227, 227);
    padding: 10px 10px;
}

.info > h3 {
    background-color: rgb(230, 227, 227);
    padding: 10px 30px;
}

.table {
    width: 95%;
    margin: 0 auto;
}

/* edit */

.edit-form {
    width: 95%;
    margin: 0 auto;
    padding: 10px 0;
}

.left {
    float: left;
}

.right {
    float: right;
}